body {
  background-color: #000;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


.firstbanner {
  margin-top: 100px;
}


#banner{
  opacity: 0.85;
  margin-top: 75px;
  margin-bottom: 0px;
}

#banner h2 {
    font-weight: 900;
}

.link {
    text-decoration: none !important;
}

#wrapper_skinny {
	width: 50% !important;
	margin: 0 auto;
}



.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button:hover {
  background-color: #000;
  transition: 1s;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

.projectinfo {
  margin:10px 0 20px 0;
  padding:10px;
  border:1px solid rgba(0,0,0,0.2);
  background:#f00;
  color:#fff;
  border-radius:4px;

  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.projectinfo.ng-hide {
  opacity:0;
}